<div class="panel panel-default">
  <div class="panel-heading"><%= @question.body %></div>
  <div class="panel-body">
    <%= render @question.answers %>
  </div>
</div>
<%= render "answers/form" %>
<% if can? :edit, @question %>
  <%= link_to t("edit"), edit_question_path(@question) %> |
<% end%>

<%= link_to t("back"), test_path(@question.test) %>
