<h3><%= @test.subject %> <%= @test.part %></h3>

<% @test.questions.each do |q| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= link_to q.body, q %>
    <% if can? :destroy, q %> 
      <%= link_to t("destroy"), q, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
    <div class="panel-body">
      <% q.answers.each.with_index do |a, index| %>
        <% if a.correctly? %>
          <p class="correct"><%= index+1 %> <%= a.body %></p>
        <% else %>
          <p><%= index+1 %> <%= a.body %></p>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to t("add"), new_question_path %>
<%= link_to t("back"), tests_path %>
<% if can? :destroy, @test %> 
  <%= link_to t("destroy"), @test, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
