<!DOCTYPE html>
<html>
<head>
  <title>Study</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar">1</span>
        <span class="icon-bar">2</span>
        <span class="icon-bar">3</span>
      </button>
      <%= link_to "Home", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Tests", tests_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">    
        <% if user_signed_in? %>
          <li>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :class => "button small-button green-button", :method => :delete do %><span class="glyphicon glyphicon-log-out"> Logout</span><% end %>
          </li>   
        <% else %>
          <li>
            <%= link_to "Login", new_user_session_path, :class => "glyphicon glyphicon-log-out" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= yield %>

</body>
</html>
